[user]
    name = Ignat Kolesnichenko
    email = ignat@yandex-team.ru

[core]
    editor = vim
    excludesfile = ~/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto
    blame = auto

[alias]
    co = checkout
    ci = commit
    st = status -suno
    br = branch
    psh = push origin master
    pl = pull origin master
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    bwhist = log --graph --pretty=format:'%h -%d %s (%cr) <%an>' --abbrev-commit

[branch]
    autosetuprebase = always

[branch "master"]
    rebase = true
