[user]
    name = Ignat Kolesnichenko
    email = ignat@yandex-team.ru

[core]
    editor = vim
    excludesfile = ~/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto
    blame = auto

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    psh = push origin master
    pl = pull origin master
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[branch "master"]
    remote = origin
    merge = refs/heads/master
    rebase = true
