[user]
    name = Ignat Kolesnichenko
    email = ignat@yandex-team.ru

[core]
    editor = vim
    excludesfile = ~/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto
    blame = auto
    ui = 1

[alias]
    co = checkout
    ci = commit
    st = status -suno
    br = branch
    psh = push origin master
    pl = pull origin master
    sb = submodule update --init --recursive
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)<%cn,%an>%Creset' --abbrev-commit

[branch]
    autosetuprebase = always

[branch "master"]
    rebase = true

[help]
	autocorrect = 1
